body {
    background: #fce1df;
    font-family: "Ubuntu", "微軟正黑體";
}

#container {
    position: relative;
}

.full {
    position: absolute;
    left: 0;
    right: 0;
    width: 500px;
    max-width: 100%;
    height: 500px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.vertical-center-outer {
    display: flex;
    justify-content: center;
}

.vertical-center-inner {
    align-self: center;
}

#envelope {
    background: #83110b;
}

#small-joy {
    position: absolute;
    background-image: url(../images/small-joy.svg);
    background-repeat: no-repeat;
    width: 97px;
    height: 89px;
    top: 3em;
    left: 3em;
}

#sender {
    color: #8c6b32;
    font-size: 2em;
    left: 1em;
    bottom: 1em;
}

#lin {
    position: absolute;
    left: 3.5em;
    bottom: 3em;
}

#tu {
    position: absolute;
    left: 1.5em;
    bottom: 3em;
}

#seal {
    position: absolute;
    left: 2.5em;
    bottom: 1.3em;
}

#receiver {
    position: absolute;
    font-size: 4em;
    line-height: 1em;
    width: 1em;
    top: 1em;
    right: 3em;
}

#cover {
    background: #b91810;
    opacity: 0;
}

#big-joy {
    background-image: url(../images/big-joy.svg);
    background-repeat: no-repeat;
    width: 305px;
    height: 305px;
}

#invite {
    background: #f8d275;
    opacity: 0;
}

.red-words {
    width: 1em;
    position: absolute;
    line-height: 1em;
    color: #93130c;
}

#welcome {
    font-size: 2.5em;
}

#date, #for, #ceremony, #bow {
    font-size: 1.5em;
}

#john, #margaret {
    font-size: 1.2em;
}

#cslin, #moon, #stephen, #venus {
    font-size: 1.4em;
}

#date {
    top: 1em;
    right: 2em;
}

#for {
    top: 1em;
    right: 4em;
}

#john {
    top: 60px;
    right: 85px;
}

#margaret {
    top: 60px;
    right: 115px;
}

#ceremony {
    top: 7em;
    right: 4em;
}

#welcome {
    top: 1em;
    left: 2.7em;
}

#cslin {
    top: 12em;
    left: 7em;
}

#moon {
    top: 12em;
    left: 6em;
}

#stephen {
    top: 12em;
    left: 5em;
}

#venus {
    top: 12em;
    left: 4em;
}

#bow {
    top: 17em;
    left: 5.2em;
}

#info {
    background: #f8d275;
    opacity: 0;
}

#info-block {
    position: relative;
    width: 350px;
    margin: 0 auto;
}

#hotel, #room, #address, #phone, #sit, #start {
    font-size: 1.4em;
}

#hotel {
    top: 2em;
    right: 2em;
}

#room {
    top: 5em;
    right: 4em;
}

#address {
    top: 5em;
    right: 6em;
}

#phone {
    top: 5em;
    right: 8em;
}

#sit {
    top: 2em;
    right: 11em;
}

#start {
    top: 5em;
    right: 13em;
}

.front-animation {
    animation-name: front-keyframes;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.back-animation {
    animation-name: back-keyframes;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes front-keyframes {
    from { transform:  scaleX(1.0); }
    to { transform:  scaleX(0); }
}

@keyframes back-keyframes {
    from { transform:  scaleX(0); opacity: 1; }
    to { transform:  scaleX(1.0); opacity: 1; }
}
