#cover {
    background: #b91810;
    width: 500px;
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#joy {
    background-image: url(../images/joy.svg);
    background-repeat: no-repeat;
    width: 305px;
    height: 305px;
    margin: 0 auto;
    margin-top: 2%;
    align-self: center;
}
